<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart_account"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <supports-screens 
         android:resizeable="true" 
         android:smallScreens="false" 
         android:normalScreens="true" 
         android:largeScreens="true" 
         android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.smart_account.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.smart_account.Add_member"
            android:label="@string/title_activity_add_member" >
        </activity>
        <activity
            android:name="com.example.smart_account.Journal_page"
            android:label="@string/title_activity_journal_page" >
        </activity>
        <activity
            android:name="com.example.smart_account.Member"
            android:label="@string/title_activity_member" >
        </activity>
        <activity
            android:name="com.example.smart_account.Send_message_page"
            android:label="@string/title_activity_send_message_page" >
        </activity>
        <activity
            android:name="com.example.smart_account.Share_page"
            android:label="@string/title_activity_share_page" >
        </activity>
    </application>

</manifest>
